{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Registrar empleado</title>

    <link rel="stylesheet"
          href="{% static 'personal/estilos.css' %}">
</head>

<body>

<div class="contenedor">

    <h1>Registrar empleado</h1>

    <form method="POST">

        {% csrf_token %}

        {{ form.as_p }}

        <button class="boton"
                type="submit">
            Guardar empleado
        </button>

    </form>

    <div class="acciones">

        <a href="{% url 'lista_empleados' %}">
            Volver al listado
        </a>

    </div>

</div>

</body>
</html>
