{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Administración de Personal</title>

    <link rel="stylesheet"
          href="{% static 'personal/estilos.css' %}">
</head>

<body>

<div class="contenedor">

    <h1>Administración de Personal</h1>

    <p>
        Bienvenido {{ request.user.username }}
    </p>

    <hr>

    <h2>Opciones</h2>

    <p>
        <a class="boton"
           href="{% url 'lista_empleados' %}">
            Ver empleados
        </a>
    </p>

    <p>
        <a class="boton"
           href="{% url 'crear_empleado' %}">
            Registrar empleado
        </a>
    </p>

    <p>
        <a class="boton"
           href="/admin/personal/cargo/">
            Administrar cargos
        </a>
    </p>

    <p>
        <a class="boton"
           href="/admin/personal/departamento/">
            Administrar departamentos
        </a>
    </p>

    <hr>

    <p>
        <a href="{% url 'bienvenida' %}">
            Volver al Home
        </a>
    </p>

</div>

</body>
</html>
