<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bienvenida</title>
</head>
<body>

    <h1>Bienvenido {{ request.user.username }}</h1>

    <p>Has iniciado sesión correctamente.</p>

    <hr>

    <h2>Mis datos</h2>

    <p>
        <strong>Usuario:</strong>
        {{ request.user.username }}
    </p>

    <p>
        <strong>Nombre:</strong>
        {{ request.user.first_name }}
    </p>

    <p>
        <strong>Apellido:</strong>
        {{ request.user.last_name }}
    </p>

    <p>
        <strong>Correo:</strong>
        {{ request.user.email }}
    </p>

    <p>

    <a href="{% url 'editar_perfil' %}">
        Editar mis datos
    </a>
</p>

<p>
    <a href="{% url 'eliminar_cuenta' %}">
        Eliminar mi cuenta
    </a>
</p>


<hr>

<h2>Gestión de Personal</h2>

<p>
    <a href="{% url 'inicio_personal' %}">
        Administración de Personal
    </a>
</p>


<form method="POST" action="{% url 'logout' %}">
    {% csrf_token %}

    <button type="submit">
        Cerrar sesión
    </button>
</form>


</body>
</html>